{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "chrome": 52,
        "ie": 11,
        "firefox": 50,
        "safari": 11
      },
      "useBuiltIns": "usage",
      "shippedProposals": true
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
