{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },

  "globals" : {

  },

  "extends": "airbnb",
  "plugins": [
    "flowtype"
  ],

  "rules": {
    "global-require": ["off"],
    "react/jsx-filename-extension": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "import/prefer-default-export": ["off"],

    "flowtype/boolean-style": [ "error", "boolean"],
    "flowtype/define-flow-type": ["warn"],
    "flowtype/generic-spacing": [ "error", "never"],
    "flowtype/no-primitive-constructor-types": "error",
    "flowtype/no-weak-types": ["off"],
    "flowtype/object-type-delimiter": [ "error","comma"],
    "flowtype/require-valid-file-annotation": "error",
    "flowtype/semi": ["error", "always"],
    "flowtype/space-after-type-colon": [ "error", "always"],
    "flowtype/space-before-generic-bracket": [ "error", "never"],
    "flowtype/space-before-type-colon": [ "error", "never"],
    "flowtype/union-intersection-spacing": [ "error", "always" ],
    "flowtype/use-flow-type": ["error"],
    "flowtype/valid-syntax": ["error"]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    },
    "import/resolver": {
      "webpack": { "config": "./webpack.common.js" }
    }
  }
}
